<section id="deals">
    <div class="container">
        <h4>Deals of the Month</h4>
        <article class="row">
            <figure class=" card col-12 col-md-4 border-0 " *ngFor="let event of events">
                <img src="../../../assets/images/wedding.jpg" alt="" class="card-img-top">
                <div class="card-img-overlay "><span class="bg-rgba">50% off</span></div>
                <figcaption class="card-body secondary-bg-color color-white">
                    <h5 class="main-color"> {{event.eventName}}</h5>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam vero nesciunt omnis numquam
                        voluptas nobis deserunt natus aperiam! Consequatur exercitationem deserunt atque alias
                        excepturi
                        quia quos vero omnis, deleniti quae?</p>
                </figcaption>
                <button class="btn btn-dark">See More</button>
            </figure>
            <figure class=" card col-12 col-md-4   border-0">
                <img src="../../../assets/images/birthday.jpg" alt="" class=" card-img-top">
                <div class="card-img-overlay "><span class="bg-rgba">50% off</span></div>
                <figcaption class="card-body secondary-bg-color color-white">
                    <h5 class="main-color">Huawei</h5>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam vero nesciunt omnis numquam
                        voluptas nobis deserunt natus aperiam! Consequatur exercitationem deserunt atque alias
                        excepturi
                        quia quos vero omnis, deleniti quae?</p>
                </figcaption>
            </figure>
            <figure class=" card col-12 col-md-4  border-0">
                <img src="../../../assets/images/speialparty.jpg" alt="" class="card-img-top img-fluid">
                <div class="card-img-overlay "><span class="bg-rgba">50% off</span></div>
                <figcaption class="card-body secondary-bg-color color-white">
                    <h5 class="main-color">Sony</h5>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam vero nesciunt omnis numquam
                        voluptas nobis deserunt natus aperiam! Consequatur exercitationem deserunt atque alias
                        excepturi
                        quia quos vero omnis, deleniti quae?</p>
                </figcaption>
            </figure>
        </article>

    </div>
</section>