<header>
    <nav class="secondary-bg-color color-white ">
        <div class="container">
            <div class="row  d-flex align-items-center">
                <span class=" col-6 col-md-3 me-md-5  "><img src="../../../assets/images/logo.png" alt=""
                        class="w-50"></span>
                <label for="menubtn" class="col-6 d-md-none"><i class="fa-solid fa-ellipsis-vertical"></i></label>
                <input type="checkbox" id="menubtn" class=" d-none">
                <ul id="main-menu" class="d-none d-md-flex col-md-9 ms-md-5 justify-content-between py-1 mt-1">
                    <li><a href="javascript:;">Home</a></li>
                    <li><a href="#">our products</a></li>
                    <li><a href="#">about us</a></li>
                    <li><a href="#">contact us</a></li>
                    <li><a href="#"><i class="fa-brands fa-twitter"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        <a href="#"><i class="fa-brands fa-facebook"></i> </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <article>
        <div class="container">
            <h2 class="text-white mt-5">أفخم شركات تنظيم حفلات في مصر
            </h2>

            <a href="javascripts:;" class="m-5  ">استعلم الان</a>
        </div>
    </article>

    <article>
        <div class="container">
            <h4>find a quality and headphones</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur qui repellendus praesentium
                expedita cum possimus soluta? Nam dolorem necessitatibus odio iure minima. Atque aliquam cum et
                ducimus sed eligendi numquam!</p>

        </div>

    </article>
    <footer class="main-bg-color p-4">
        <h3><a href="" class="text-decoration-none d-block color-white text-capitalize text-center">Visit our online
                store</a></h3>
    </footer>
</header>

<app-events></app-events>

<!-- start arrivals section  -->
<section id="arrivals">
    <div class="container">
        <h4>New Arrivals</h4>
        <figure class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <img src="../../../assets/images/001.jpeg" alt="" class="img-fluid">
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <img src="../../../assets/images/002.jpeg" alt="" class="img-fluid">
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <img src="../../../assets/images/003.jpeg" alt="" class="img-fluid">
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <img src="../../../assets/images/004.jpeg" alt="" class="img-fluid">
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3"><img src=" images/5.jpg" alt="" class="img-fluid"></div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3"><img src="images/6.jpg" alt="" class="img-fluid"></div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3"><img src="images/7.jpg" alt="" class="img-fluid"></div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3"><img src="images/8.jpg" alt="" class="img-fluid"></div>

        </figure>
    </div>
    <article>
        <div class="container">
            <span>
                <h6>Hurry up! The offer is limited</h6>
                <h3>Order Now and a discount </h3>
            </span>
            <a href="">Learn More</a>
        </div>
    </article>

</section>
<!-- End arrivals section  -->
<!-- start achievements section  -->
<section id="achievements">
    <div class="container">
        <h4>Our Achievements</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis repellat beatae doloremque
            adipisci
            quisquam dolorum exercitationem ducimus modi explicabo a tempore perferendis accusamus veritatis
            impedit.
        </p>
        <figure class="row">
            <div class="col-12 col-md-6">
                <img src="../../../assets/images/co.jpg" alt="" class="img-fluid">
            </div>
            <figcaption class="col-12 col-md-6">
                <span>
                    <h3>100</h3>
                    <p>Happy client<br>Lorem ipsum dolor sit amet </p>
                </span>
                <span>
                    <h3>100</h3>
                    <p>Happy client<br>Lorem ipsum dolor sit amet </p>
                </span>
                <span>
                    <h3>100</h3>
                    <p>Happy client<br>Lorem ipsum dolor sit amet </p>
                </span>
                <span>
                    <h3>100</h3>
                    <p>Happy client<br>Lorem ipsum dolor sit amet </p>
                </span>
            </figcaption>
        </figure>

    </div>
</section>

<!-- End achievements  section  -->
<!-- start contact us section  -->
<section id="contact-us">
    <div class="container">
        <div class="row p-4">
            <article class="col-12 col-md-7">
                <h3>Contact Us</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit vitae ratione asperiores odit
                    doloribus
                    cupiditate alias laborum neque mollitia molestiae natus quibusdam deserunt exercitationem dolor
                    necessitatibus, velit quos iure veritatis?</p>
            </article>
            <form class="col-12 col-md-4">
                <input type="text" placeholder="Name">
                <input type="text" placeholder="Email">
                <input type="text" placeholder="phone">
                <input type="submit" value="Send Form">

            </form>
        </div>
    </div>
</section>
<!-- start footer section -->
<footer class="secondary-bg-color p-5">
    <div class="container">
        <div class="row ">
            <article class="col-12 col-md-6 col-lg-3 mt-4 shadow">
                <a href="">Reurn policy</a>
                <a href="">Reach our store</a>
                <a href="">Blog </a>
                <a href="">Contact us</a>
                <a href="">About us</a>
            </article>
            <article class="col-12  col-md-6 col-lg-3 mt-4 shadow">
                <a href=""><i class="fa-brands fa-facebook m-2"></i>Facebook</a>
                <a href=""><i class="fa-brands fa-twitter  m-2"></i>Twitter</a>
                <a href=""><i class="fa-brands fa-instagram  m-2"></i>Instgrame </a>
                <a href=""><i class="fa-brands fa-youtube  m-2"></i>Youtupe</a>
            </article>
            <article class="col-12 col-md-12 col-lg-6 mt-4 shadow">
                <div>
                    <img src="../../../assets/images/icons/master.jpg" alt="">
                    <img src="../../../assets/images/icons/paypal.jpg" alt="">
                    <img src="../../../assets/images/icons/discover.jpg" alt="">
                    <img src="../../../assets/images/icons/Ae.jpg" alt="">
                    <img src="../../../assets/images/icons/visa.jpg" alt="">
                </div>
                <input type="text" placeholder="Enter Your Email">
                <a href="" class="a">Subscribe</a>
            </article>
        </div>
    </div>

</footer>